# Default ignored files
/shelf/
/workspace.xml

### Gradle ###
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### Kotlin ###
*.class
*.kt~
*.kts~
*.swp
*.swo

### Logs ###
*.log
*.log.*
*.out

### Spring Boot ###
/target/
/bin/
/tmp/

### OS Files ###
.DS_Store
Thumbs.db

### Others ###
/.settings/
/.project
/.classpath
